.inactive {
    color: green;
}

.container-form {
    width: 50vw;
    height: 5vh;
    max-width: 50rem;
    margin: 0 auto;
    margin-left: 30rem;
    margin-top: 2rem;
   
}
.container-list {
    width: 50vw;
    height: 5vh;
    max-width: 50rem;
    margin: 0 auto;
    margin-left: 29rem;
    margin-top: 2rem;
   
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
button:hover {
    background-color: red;
}

.active {
    color: blueviolet;
    font-size: 20px;
    background-color: yellow;
    font-size: 2rem;
}

.button  {
    background-color: red;
    margin-left: 38rem;
    
}